@model Registration




    <div class="container">
        <section class=" card h-100 gradient-form" style="background-color: #eee;">
            <div class="container py-5 h-100">
                <div class="  row d-flex justify-content-center align-items-center h-100">
                    <div class="col-xl-10">
                        <h3>Crear nuevo usuario</h3>
                    <form action="@Url.Action("Register", "Registration")">
                        <p>Ingresa la información requerida para crear el usuario</p>

                        <div class="form-floating mb-4">
                            <input type="text" asp-for="username" class="form-control"
                                   placeholder="Usuario" />
                            <label class="form-label" asp-for="username">Usuario</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="email" asp-for="email" class="form-control"
                                   placeholder="Usuario" />
                            <label class="form-label" asp-for="email">Correo electrónico</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" asp-for="password1" class="form-control"
                                   placeholder="Phone number or email address" />
                            <label class="form-label" asp-for="password1">Contraseña</label>
                        </div>
                        <div class="form-floating mb-4">
                            <input type="password" asp-for="password2" class="form-control"
                                   placeholder="Repita contraseña" />
                            <label class="form-label" asp-for="password2">Repita contraseña</label>
                        </div>

                        @{
                            bool flag = ViewBag.error;
                            bool firtsTime = ViewBag.firtsTime;
                            if (flag && !firtsTime)
                            {
                                <div class="alert alert-success" role="alert">
                                   Usuario creado con exito. 
                                </div>
                            }else if(!flag && !firtsTime){
                                  <div class="alert alert-danger" role="alert">
                            Algo salio mal, por favor contactar a soporte técnico. 
                        </div>
                            }
                        }
                       
                        <div class="text-center pt-1 mb-5 pb-1">
                            <button type="submit" class="btn btn-success btn-block fa-lg gradient-custom-2 mb-3" data-save="modal">Registrar Empleado</button>
                            <br />                                                <a class="text-muted" href="@Url.Action("Index", "Login")">¿Regresar al inicio de sesión?</a>
                        </div>


                    </form>
                    </div>
                </div>
            </div>
        </section>
    </div>
 
   