@model Empleados
@{
    ViewBag.Title = "Registrar Empleado";
}
<div class="modal fade" tabindex="-1" id="NuevoEmpleado" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">@ViewBag.Title</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="@Url.Action("GuardarEmpleado")">
                    <input asp-for="id" class="form-control" type="hidden" value="2" />
                    <div class="row">
                        <div class="col-md-6 col-sm-12  mt-2 mb-2">
                            <label asp-for="nombres_empleado" class="form-label">Nombre Empleado</label>
                            <input type="text" class="form-control validate" asp-for="nombres_empleado"
                                   placeholder="Wilfredo">
                        </div>
                        <div class="col-md-6 col-sm-12   mt-2 mb-2">
                            <label asp-for="apellidos_empleado" class="form-label">Apellido Empleado</label>
                            <input type="text" class="form-control validate" asp-for="apellidos_empleado"
                               placeholder="Granados">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12  mt-2 mb-2">
                            <label asp-for="direccion_empleado" class="form-label">Dirección Empleado</label>
                            <input type="text" class="form-control validate" asp-for="direccion_empleado"
                                   placeholder="Wilfredo">
                        </div>
                        <div class="col-md-6 col-sm-12   mt-2 mb-2">
                            <label asp-for="dui_empleado" class="form-label">DUI Empleado</label>
                            <input type="text" class="form-control validate" asp-for="dui_empleado"
                                   placeholder="00000000-0">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12  mt-2 mb-2">
                            <label asp-for="fecha_nacimiento_empleado" class="form-label">Fecha Nacimiento Empleado</label>
                            <input type="text" class="form-control validate" asp-for="fecha_nacimiento_empleado"
                                   placeholder="">
                        </div>
                        <div class="col-md-6 col-sm-12   mt-2 mb-2">
                            <label asp-for="telefono_empleado" class="form-label">Telefono Empleado</label>
                            <input type="text" class="form-control validate" asp-for="telefono_empleado"
                                   placeholder="2222-2222">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-6 col-sm-12  mt-2 mb-2">
                            <label asp-for="numero_isss_empleado" class="form-label">ISSS Empleado</label>
                            <input type="text" class="form-control validate" asp-for="numero_isss_empleado"
                                   placeholder="0000-000000">
                        </div>
                        <div class="col-md-6 col-sm-12   mt-2 mb-2">
                            <label asp-for="numero_afp_empleado" class="form-label">AFP Empleado</label>
                            <input type="text" class="form-control validate" asp-for="numero_afp_empleado"
                                   placeholder="000000-000">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 col-sm-12  mt-2 mb-2">
                            <label asp-for="sueldo_empleado" class="form-label">Sueldo Empleado</label>
                            <input type="text" class="form-control validate" asp-for="sueldo_empleado"
                                   placeholder="0000-000000">
                        </div>
                        <div class="col-md-6 col-sm-12   mt-2 mb-2">
                            <label asp-for="id_cargo_empleado" class="form-label">Cargo Empleado</label>
                            <input type="text" class="form-control validate" asp-for="id_cargo_empleado"
                                   placeholder="000000-000">
                        </div>
                    </div>
                    <div class="row">
                
                        <div class="col-md-6 col-sm-12   mt-2 mb-2">
                            <label asp-for="id_area" class="form-label">Cargo Empleado</label>
                            <input type="text" class="form-control validate" asp-for="id_area"
                                   placeholder="000000-000">
                        </div>
                    </div>


                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" data-save="modal" data-index="@Url.Action("Index")">Guardar Empleado</button>
            </div>
        </div>
    </div>
</div>
